@import "./fonts.css";
html,
body {
  font: normal normal normal 16px/22px OpenSans;
}
h1 {
  font: normal normal normal 100px/115px Yeseva One;
}
h2 {
  font: normal normal normal 40px/47px Yeseva One;
}
h3 {
  font: normal normal bold 16px/22px OpenSans;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
